{% extends ':layout/admin:admin.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% set sectionTitle = "Page Sections" %}

{% block title %}
    {{ sectionTitle }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ sectionTitle }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">{{ sectionTitle }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-info">
                    <div class="box-body">
                        {% if(sections) %}
                            <table id="datatable" class="table table-responsive table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for section in sections %}
                                    <tr>
                                        <td>{{ section.title }}</td>
                                        <td>{{ section.content|raw }}</td>
                                        <td>
                                            {% if section.status == 1 %}
                                                {{ 'Publish' }}
                                            {% elseif section.status == 2 %}
                                                {{ 'Archive' }}
                                            {% elseif sectin.status == 0 %}
                                                {{ 'draft' }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div>
                                                <a class='btn btn-default btn-sm btn-flat'
                                                   href="{{ url('user-update-page-section', {'id': section.id}) }}">
                                                    <i class='fa fa-1x fa-edit'></i>
                                                </a>
                                                <button class="btn btn-danger btn-sm btn-flat"
                                                        data-toggle="modal" data-target='#delete-modal'
                                                        data-id="{{ section.id }}" data-title="Delete Page Section"
                                                        data-content='Are you sure you want to delete this page section?'
                                                        data-action="{{ url('user-delete-page-section', {'id': section.id}) }}">
                                                    <i class='fa fa-1x fa-trash'></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                          <h2 class="text-center">No Records Found</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include ":layout/admin/partials:delete-modal.html.twig" %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var datatable = $("#datatable").dataTable({
            processing: true
        });

        $("#delete-modal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.data('title');
            var content = button.data('content');
            var action = button.data('action');
            var id = button.data('id');

            var modal = $(this);
            modal.find('#modal-title').text(title);
            modal.find('#modal-content').text(content);

            $(modal.find('#modal-delete-confirm')).data("id", id);
            $(modal.find('#modal-delete-confirm')).data("action", action);
        });

    </script>
{% endblock %}