ul, ol {
    list-style: none;
    padding: 0;
}

.error, .has-error {
    color: #dd4b39;
}

input.error, input.error:focus, input.error:hover {
    border: 1px solid #dd4b39;
}

.bootstrap-tagsinput {
    display: block;
}

.bootstrap-tagsinput .label {
    font-size: 100%;
    background-color: #716e6e;
}

ul.has-error, ol.has-error {
    list-style: none;
    padding: 0;
}

table.dataTable > tbody > tr {
    cursor: pointer;
}