<div class="author-box clearfix">
    {% if author.image and author.image.name %}
    <div class="author-avatar">
        <a href="#">
            <img alt="{{ author.name }}" src="{{ asset(media_path ~ author.image.name) }}" class="avatar" height="110" width="110">
        </a>
    </div>
    {% endif %}
    <div class="author-info">
        <h3><a href="#">{{ author.name }}</a></h3>
        <p class="author-bio">
            {{ author.bio }}
        </p>
        <div class="author-contact">
            {% if author.email %}
            <a href="mailto:{{ author.email }}"><i class="fa fa-envelope fa-lg" title="Email"></i></a>
            {% endif %}

            {% if author.twitterLink %}
                <a href="{{ author.twitterLink }}" target="_blank"><i class="fa fa-twitter fa-lg" title="Twitter"></i></a>
            {% endif %}
            {% if author.facebookLink %}
                <a href="{{ author.facebookLink }}" target="_blank"><i class="fa fa-facebook fa-lg" title="Facebook"></i></a>
            {% endif %}
            {% if author.linkedinLink %}
                <a href="{{ author.linkedinLink }}" rel="publisher" target="_blank"><i title="LinkedIn" class="fa fa-linkedin fa-lg"></i></a>
            {% endif %}
            {#<a href="#" target="_blank"><i class="fa fa-globe fa-lg" title="Website"></i></a>#}
        </div>
    </div>
</div>