<div class="widget categorywidget">
    <h3 class="block-title"><span>Categories</span></h3>
    <ul>
        <li>
            <a href="#">Tech <span class="count">25</span></a>
        </li>
        <li>
            <a href="#">Lifestyle <span class="count">23</span></a>
        </li>
        <li>
            <a href="#">Business <span class="count">19</span></a>
        </li>
        <li>
            <a href="#">Entertainment <span class="count">20</span></a>
        </li>
    </ul>
</div>