<div class="widget tabwidget">
    <ul class="nav nav-tabs" role="tablist" id="widget-tab">
        <li role="presentation" class=""><a href="#tab-popular" aria-controls="tab-popular" role="tab" data-toggle="tab">Popular</a></li>
        <li role="presentation" class="active"><a href="#tab-recent" aria-controls="tab-recent" role="tab" data-toggle="tab">Recent</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="tab-popular">

            {{ popular_posts(items_per_category) }}

        </div><!-- Popular posts -->
        <div role="tabpanel" class="tab-pane active" id="tab-recent">
            {{ recent_posts(items_per_category) }}
        </div><!-- Recent Posts -->
    </div>
</div>