{% if posts %}
    {% for post in posts %}

        <article class="widget-post clearfix">
            <div class="simple-thumb">
                <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                    {% if post.featureImage %}
                        <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                    {% endif  %}
                </a>
            </div>
            <header>
                <h3>
                    <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.title }}</a>
                </h3>
                <p class="simple-share">
                    <span><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                </p>
            </header>
        </article>
    {% endfor %}
{% endif %}