<aside class="sidebar clearfix">
    {{ sidebar_ad(constant('AppBundle\\Domain\\Entity\\Advertisement\\DefaultAdSection::TOP_SIDEBAR_AD')) }}

    {% include ':layout/public/partials/widget:post-highlight.html.twig' %}

    {{ sidebar_ad(constant('AppBundle\\Domain\\Entity\\Advertisement\\DefaultAdSection::BOTTOM_SIDEBAR_AD')) }}
</aside>