<div class="widget adwidget subscribewidget">
    <h3 class="block-title"><span>Subscribe</span></h3>
    <p>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers.</p>
    <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your email">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Subscribe</button>
          </span>
        </div>
    </form>
</div>