{% extends ':layout/admin:admin.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% set sectionTitle = "Configure Site" %}

{% block title %}
    {{ sectionTitle }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ sectionTitle }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">{{ sectionTitle }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ include(':user/configuration/partials:site-form.html.twig', [site]) }}
            </div>
        </div>
    </section>

    {% include ":layout/admin/partials:delete-modal.html.twig" %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/admin/js/admin.js') }}"></script>
    <script type="text/javascript">

        fileinputConfig = {
            'showUpload' : false,
            "maxFileCount" : 1,
            "autoReplace" : true
        };

        initBootstrapFileInput('.img-fileinput', fileinputConfig);
    </script>
{% endblock %}