{% extends ':layout/admin:admin.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% set sectionTitle = "Site" %}

{% block title %}
    {{ sectionTitle }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ sectionTitle }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">{{ sectionTitle }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="clearfix">
                            <h3 class="pull-left">Site Information</h3>
                            <div class="pull-right">
                                <a href="{{ url('user-update-site') }}" class="btn btn-default btn-sm">Update Site Information</a>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-md-2">Site Name</div>
                            <div class="col-md-4">{{ site.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Banner</div>
                            <div class="col-md-4">
                                {% if site.banner %}
                                    <img src="{{ asset(media_path ~ site.banner.name) }}" style="max-width: 400px;" alt="banner">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Logo</div>
                            <div class="col-md-4">
                                {% if site.logo %}
                                    <img src="{{ asset(media_path ~ site.logo.name) }}" alt="logo" style="max-width: 200px;" class="img-responsive">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Phone No</div>
                            <div class="col-md-4">{{ site.phoneNo }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Mobile No</div>
                            <div class="col-md-4">{{ site.mobileNo }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Fax No</div>
                            <div class="col-md-4">{{ site.faxNo }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Address</div>
                            <div class="col-md-4">{{ site.address }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Facebook Link</div>
                            <div class="col-md-4">
                                {% if site.facebookLink %}
                                    <a href="{{ site.facebookLink }}" target="_blank">{{ site.facebookLink }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Twitter Link</div>
                            <div class="col-md-4">
                                {% if site.twitterLink %}
                                    <a href="{{ site.twitterLink }}" target="_blank">{{ site.twitterLink }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Google+ Link</div>
                            <div class="col-md-4">
                                {% if site.googlePlusLink %}
                                    <a href="{{ site.googlePlusLink }}" target="_blank">{{ site.googlePlusLink }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">LinkedIn Link</div>
                            <div class="col-md-4">
                                {% if site.linkedinLink %}
                                    <a href="{{ site.linkedinLink }}">{{ site.linkedinLink }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Enabled</div>
                            <div class="col-md-4">
                                {% if site.enabled %}
                                    <i class="fa fa-check fa-1x"></i>
                                {% else %}
                                    <i class="fa fa-close fa-1x"></i>
                                {% endif %}

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Google Analytic Script</div>
                            <div class="col-md-8">
                                {% if site.googleAnalyticScript %}
                                <textarea readonly cols="70" rows="8">
                                    {{ site.googleAnalyticScript | raw }}
                                </textarea>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Google Analytic Link</div>
                            <div class="col-md-4">
                                {% if site.googleAnalyticLink %}
                                    <a href="{{ site.googleAnalyticLink }}">{{ site.googleAnalyticLink }}</a>
                                {% endif %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-2">SEO</div>
                            <div class="col-md-4">
                                {% if not site.meta %}
                                    Add Site Meta for better search visibility
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Title</div>
                            <div class="col-md-4">{{ site.meta.title }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Keywords</div>
                            <div class="col-md-4">{{ site.meta.keywords }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Desciption</div>
                            <div class="col-md-4">{{ site.meta.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include ":layout/admin/partials:delete-modal.html.twig" %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var datatable = $("#datatable").dataTable({
            processing: true
        });

        $("#delete-modal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.data('title');
            var content = button.data('content');
            var action = button.data('action');
            var id = button.data('id');

            var modal = $(this);
            modal.find('#modal-title').text(title);
            modal.find('#modal-content').text(content);

            $(modal.find('#modal-delete-confirm')).data("id", id);
            $(modal.find('#modal-delete-confirm')).data("action", action);
        });

    </script>
{% endblock %}