{% extends ':layout/admin:admin.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% set sectionTitle = "Update Site" %}

{% block title %}
    {{ sectionTitle }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ sectionTitle }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">{{ sectionTitle }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ include(':user/configuration/partials:site-form.html.twig', [site]) }}
            </div>
        </div>
    </section>

    {% include ":layout/admin/partials:delete-modal.html.twig" %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/admin/js/admin.js') }}"></script>
    <script type="text/javascript">
        var bannerConfig = {
            'showUpload': false,
            "maxFileCount": 1,
            "autoReplace": true,
            'allowedFileTypes': 'image',
            'allowedExtensions': ['jpg', 'png', 'gif', 'jpeg'],
            'initialPreviewAsData': true,
            'overwriteInitial': true
        };

        var logoConfig = {
            'showUpload': false,
            "maxFileCount": 1,
            "autoReplace": true,
            'allowedFileTypes': 'image',
            'allowedExtensions': ['jpg', 'png', 'gif', 'jpeg'],
            'initialPreviewAsData': true,
            'overwriteInitial': true
        };

       {% if(site.banner.oldName.vars.value) %}

        bannerConfig.initialPreview = '{{ asset(media_path ~ site.banner.oldName.vars.value) }}';
        bannerConfig.initialCaption = '{{ site.banner.oldName.vars.value }}';
        bannerConfig.deleteUrl = '/media/delete-file';
        bannerConfig.initialPreviewShowDelete = true;
        bannerConfig.initialPreviewConfig = [
            {key: 1, extra: {'name': bannerConfig.initialCaption}}
        ];
        {% endif %}

        initBootstrapFileInput('#site_form_banner_name', bannerConfig);

        $('#site_form_banner_name').on('filedeleted', function(event, key, jqXHR, data) {
            $('#site_form_banner_oldName').val('');
            $('#site_form_banner_id').val('');
        });

        {% if (site.logo.oldName.vars.value) %}
            logoConfig.initialPreview = '{{ asset(media_path ~ site.logo.oldName.vars.value) }}';
            logoConfig.initialCaption = '{{ site.logo.oldName.vars.value }}';
            logoConfig.deleteUrl = '/media/delete-file';
            logoConfig.initialPreviewShowDelete = true;
            logoConfig.initialPreviewConfig = [
                {key: 1, extra: {'name': logoConfig.initialCaption}}
            ];
        {% endif %}

        initBootstrapFileInput('#site_form_logo_name', logoConfig);

        $('#site_form_logo_name').on('filedeleted', function(event, key, jqXHR, data) {
            $('#site_form_logo_oldName').val('');
            $('#site_form_logo_id').val('');
        });
    </script>
{% endblock %}