<div class="header" id="header">
    <div class="container">
        <div class="mag-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Mobile Menu Button -->
                    <a class="navbar-toggle collapsed" id="nav-button" href="#mobile-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a><!-- .navbar-toggle -->

                    <!-- Main Nav Wrapper -->
                    <nav class="navbar mega-menu">
                        <a class="logo" href="{{ url('homepage') }}"  rel="home">
                            {% set banner = site_banner() %}
                            {% if banner is defined and banner is not empty %}
                                <img src="{{ asset(media_path ~ banner) }}" style="max-height: 100px;" alt="">
                            {% else %}
                                {% set title = site_name() | split(' ')%}
                                <em>{{ title[0] }} <br/>
                                    {{ title[1] }}</em>

                            {% endif %}
                        </a><!-- .logo -->

                        <!-- Navigation Menu -->
                        {% include ':layout/public/partials/header:main-nav.html.twig' %}
                        <!-- End Navigation Menu -->
                    </nav><!-- .navbar -->

                    <div id="sb-search" class="sb-search">
                        <form action="{{ url('search') }}" method="get">
                            <input class="sb-search-input" placeholder="Enter your search text..." type="text" value="" name="term" id="term">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search fa fa-search" data-toggle="tooltip" data-placement="bottom" title="Search"></span>
                        </form>
                    </div><!-- .sb-search -->
                </div>
            </div>
        </div>
    </div>
</div>