<div class="header-top">
    <div class="container">
        <div class="mag-content">
            <div class="row">
                <div class="col-md-12">
                    <ul class="top-menu pull-left">
                        {% set pages = page_nav_service.findAllBy({'section': false}) %}
                        {% if pages %}
                            {% for page in pages %}
                                <li><a href="{{ path('page', {'category': page.slug}) }}"> {{ page.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>

                    <div class="social-icons pull-right">
                        {% if site_facebook() %}
                        <a href="{{ site_twitter() }}" data-toggle="tooltip" target="_blank" data-placement="bottom" title="Facebook"><i class="fa fa-facebook fa-lg"></i></a>
                        {% endif %}

                        {% if site_twitter() %}
                        <a href="{{ site_twitter() }}" data-toggle="tooltip" data-placement="bottom" target="_blank" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
                        {% endif %}

                        {% if site_googleplus() %}
                        <a href="{{ site_googleplus() }}" data-toggle="tooltip" data-placement="bottom" target="_blank" title="Google+"><i class="fa fa-google-plus fa-lg"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>