<div class="header-mid">
    <div class="container">
        <div class="mag-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-mid-wrapper clearfix">
                        <div class="mid-logo-wrapper">
                            <a class="logo" href="{{ url('homepage') }}" rel="home">
                                {% set banner = site_banner() %}
                                {% if banner is defined and banner is not empty %}
                                <img src="{{ asset(media_path ~ banner) }}" style="max-height: 100px;" alt="">
                                {% else %}
                                {% set title = site_name() | split(' ')%}
                                    <em>{{ title[0] }} <br/>
                                     {{ title[1] }}</em>

                                {% endif %}
                            </a><!-- .logo -->

                        </div>
                        <div class="header-banner">
                            {{ full_width_ad(constant('AppBundle\\Domain\\Entity\\Advertisement\\DefaultAdSection::HEADER_AD')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>