<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown menu-color1">
            <a href="{{ url('homepage') }}">Home</a>
        </li><!-- .dropdown .menu-color1 -->

        {#{{ menu_generator.generateMainMenu() }}#}
        {{ megamenu_generator.generateMainMenu() }}
    </ul><!-- .nav .navbar-nav -->
</div>