<div class="header animated headroom--top" id="header">
    <div class="container">
        <div class="mag-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Mobile Menu Button -->
                    <a class="navbar-toggle collapsed" id="nav-button" href="#mobile-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a><!-- .navbar-toggle -->

                    <!-- Main Nav Wrapper -->
                    <nav class="navbar mega-menu">
                        <a class="logo" href="index.php" title="Admag - Responsive magazine HTML Template" rel="home">
                            AD <span>MAG</span>
                        </a><!-- .logo -->

                        <!-- Navigation Menu -->
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown menu-color1">
                                    <a href="index.php" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home</a>
                                    <ul class="dropdown-menu animated fadeIn">
                                        <li><a href="index.php">Home - All Block</a></li>
                                        <li class="dropdown-submenu">
                                            <a href="#">Home - Grid Style</a>
                                            <ul class="dropdown-menu animated fadeIn" style="display: none;">
                                                <li><a href="grid_sidebar.php">With Sidebar</a></li>
                                                <li><a href="grid.php">No Sidebar</a></li>
                                            </ul><!-- .dropdown-menu -->
                                        </li><!-- .dropdown-submenu -->
                                        <li class="dropdown-submenu">
                                            <a href="#">Home - Blog Style</a>
                                            <ul class="dropdown-menu animated fadeIn" style="display: none;">
                                                <li><a href="blog_classic.php">Classic Blog</a></li>
                                                <li><a href="blog_modern.php">Modern Blog</a></li>
                                            </ul>
                                        </li><!-- .dropdown-submenu -->
                                        <li class="dropdown-submenu">
                                            <a href="#">Home - Minimal Style</a>
                                            <ul class="dropdown-menu animated fadeIn" style="display: none;">
                                                <li><a href="minimal.php">2 Columns</a></li>
                                                <li><a href="minimal_sidebar.php">2 Columns With Sidebar</a></li>
                                                <li><a href="minimal_full.php">3 Columns</a></li>
                                            </ul>
                                        </li><!-- .dropdown-submenu -->
                                        <li class="dropdown-submenu">
                                            <a href="#">Home - Fixed Sidebar</a>
                                            <ul class="dropdown-menu animated fadeIn" style="display: none;">
                                                <li><a href="fixed_left.php">Fixed Left Sidebar</a></li>
                                                <li><a href="fixed_right.php">Fixed Right Sidebar</a></li>
                                            </ul>
                                        </li><!-- .dropdown-submenu -->
                                        <li class="dropdown-submenu">
                                            <a href="#">Home - 3 Different Columns</a>
                                            <ul class="dropdown-menu animated fadeIn" style="display: none;">
                                                <li><a href="left_big.php">Left Big Column</a></li>
                                                <li><a href="right_big.php">Right Big Column</a></li>
                                            </ul>
                                        </li><!-- .dropdown-submenu -->
                                    </ul><!-- .dropdown-menu -->
                                </li><!-- .dropdown .menu-color1 -->

                                <!-- Fullwith Mega Menu -->
                                <li class="dropdown mega-full menu-color2">
                                    <a href="grid.php" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tech</a>
                                    <ul class="dropdown-menu fullwidth animated fadeIn">
                                        <li>
                                            <!-- Tababble Menu -->
                                            <div class="tabbable tab-hover tabs-left">
                                                <ul class="nav nav-tabs tab-hover">
                                                    <li class=""><a href="#a" data-toggle="tab" class="first" aria-expanded="false">Reviews</a></li>
                                                    <li class=""><a href="#b" data-toggle="tab" aria-expanded="false">Apps</a></li>
                                                    <li class=""><a href="#c" data-toggle="tab" aria-expanded="false">Design</a></li>
                                                    <li class="active"><a href="#d" data-toggle="tab" aria-expanded="true">Gadgets</a></li>
                                                    <li class=""><a href="#e" data-toggle="tab" aria-expanded="false">Mobile</a></li>
                                                </ul><!-- .nav .nav-tabs .tab-hover -->

                                                <div class="tab-content">

                                                    <!-- News Block 1 -->
                                                    <div class="tab-pane animated fadeIn" id="a">
                                                        <div class="mega-menu-news">

                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb8.jpg" alt="" title="">
                                                                </a>
                                                            </div><!-- .mega-menu-img-->

                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">Nikon D5000 review: Design, Controls, Screen</a>
                                                                </h4><!-- .entry-title -->
                                                                <p class="simple-share">
                                  <span class="star-reviews">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                  </span>
                                                                </p><!-- .simple-share -->
                                                            </div><!-- .mega-menu-detail-->

                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">

                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb6.jpg" alt="" title="">
                                                                </a>
                                                            </div><!-- .mega-menu-img-->

                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">Apple iOS 8 Review</a>
                                                                </h4><!-- .entry-title -->
                                                                <p class="simple-share">
                                  <span class="star-reviews">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                  </span>
                                                                </p><!-- .simple-share -->
                                                            </div><!-- .mega-menu-detail-->

                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">

                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb9.jpg" alt="" title="">
                                                                </a>
                                                            </div><!-- .mega-menu-img-->

                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">Canon 70D review</a>
                                                                </h4><!-- .entry-title -->
                                                                <p class="simple-share">
                                  <span class="star-reviews">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                  </span>
                                                                </p><!-- .simple-share -->
                                                            </div><!-- .mega-menu-detail-->

                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb10.jpg" alt="" title="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">iMac review</a>
                                                                </h4>
                                                                <p class="simple-share">
                                  <span class="star-reviews">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                  </span>
                                                                </p>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                    </div><!-- .tab-pane -->
                                                    <!-- End News Block 1 -->

                                                    <!-- News Block 2 -->
                                                    <div class="tab-pane animated fadeIn" id="b">

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb5.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">Top 15 Android tablet apps for work and play</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb6.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">Apple iOS 8 Review</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb7.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">15 apps you need to download right now</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb11.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">9 Apps for Transforming Your Phone into The Ultimate Toolkit</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->
                                                    </div><!-- .tab-pane -->
                                                    <!-- End News Block 2 -->

                                                    <!-- News Block 3 -->
                                                    <div class="tab-pane animated fadeIn" id="c">

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb12.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">Asia's 100 Fastest Growing Technology Companies</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb8.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">Nikon D5000 review: Design, Controls, Screen</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb13.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">20 Incredible Job Sites for Freelance Computer Techs</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb14.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">5 Ways to Use the Web Developer Toolbar for SEO</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                    </div><!-- .tab-pane -->
                                                    <!-- End News Block 3 -->

                                                    <!-- News Block 4 -->
                                                    <div class="tab-pane animated fadeIn active" id="d">

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb23.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">5 Gadget Gifts for Father's Day</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb16.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">Audio Equalizer Apps Beyond the Smartphone Sound</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb17.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">Smartwatch App Concepts You Need to See</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb18.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">How to Buy the Right Headphones</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                    </div><!-- .tab-pane -->
                                                    <!-- End News Block 4 -->

                                                    <!-- End News Block 5 -->
                                                    <div class="tab-pane animated fadeIn" id="e">

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb19.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">What the Viny "Comeback" Really Looks Like</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb20.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">Are smartphones stressing kids out?</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb21.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">Android Wear is Coming to Luxury Watches</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                        <div class="mega-menu-news">
                                                            <div class="mega-menu-img">
                                                                <a href="#">
                                                                    <img class="entry-thumb" src="img/medium-thumb/med_thumb22.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="mega-menu-detail">
                                                                <h4 class="entry-title">
                                                                    <a href="#">These are the four apps that every smartphone must get right</a>
                                                                </h4>
                                                            </div>
                                                        </div><!-- .mega-menu-news -->

                                                    </div><!-- .tab-pane -->
                                                    <!-- End News Block 5 -->

                                                </div><!-- .tab-content -->
                                            </div><!-- .tabbable -->
                                        </li>
                                    </ul><!-- .dropdown-menu .fullwidth -->
                                </li><!-- .dropdown .mega-full .menu-color2 -->
                                <!-- End Mega Menu -->

                                <li class="dropdown mega-full menu-color3">
                                    <a href="minimal_blog.php" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lifestyle</a>
                                    <ul class="dropdown-menu fullwidth animated fadeIn">
                                        <li>
                                            <!-- 5 block news in Mega Menu -->
                                            <div class="mega-menu-5block">

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb35.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">6 Tips Before Traveling Internationally</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb27.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">How Can I Find a Coffee Shop That'll Actually Let Me Work?</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb28.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">10 Tips for Taking Great Outdoor Photos</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb56.jpg" alt="" title="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">9 Reasons To Run in the Morning</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb31.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">Never Ask a Busy Person to Lunch</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                            </div><!-- .mega-menu-5block -->
                                        </li>
                                    </ul><!-- .dropdown-menu .fullwidth -->
                                </li><!-- .dropdown .mega-full .menu-color3 -->
                                <!-- / Mega Menu -->

                                <!-- List Menu -->
                                <li class="dropdown mega-full menu-color4">
                                    <a href="blog_modern.php" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Business</a>
                                    <ul class="dropdown-menu fullwidth animated fadeIn">
                                        <li>
                                            <!-- 5 block news in Mega Menu -->
                                            <div class="mega-menu-5block">

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb39.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">3 things I learned about running startup board meetings</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb41.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">How Technology Is Revolutionizing the Franchise World</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb40.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">8 Ways to Know If Your Business Is Ready to Franchise</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb42.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">9 Business Leaders Share the Best and Worst Advice They've Heard</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb47.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">Tickets and prices for Metro and public transport in Milan</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->
                                            </div><!-- .mega-menu-5block -->
                                        </li>
                                    </ul><!-- .dropdown-menu .fullwidth -->
                                </li><!-- .dropdown .mega-full .menu-color4 -->

                                <!-- Mega Menu -->
                                <li class="dropdown mega-full menu-color5">
                                    <a href="header-style3.php" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Entertainment</a>
                                    <ul class="dropdown-menu fullwidth animated fadeIn">
                                        <li>
                                            <!-- 5 block news in Mega Menu -->
                                            <div class="mega-menu-5block">

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb51.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">Does going to the gym count as a sport?</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb50.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">Older actors still hot in Hollywood</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb49.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">Inside U2's Ambitious Upcoming Tour Strategy</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb48.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">How Bollywood is romancing with period films to woo modern audience</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                                <div class="mega-menu-news">
                                                    <div class="mega-menu-img">
                                                        <a href="#">
                                                            <img class="entry-thumb" src="img/medium-thumb/med_thumb52.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="mega-menu-detail">
                                                        <h4 class="entry-title">
                                                            <a href="#">9 Curious Facts About Charlie Chaplin</a>
                                                        </h4>
                                                    </div>
                                                </div><!-- .mega-menu-news -->

                                            </div><!-- .mega-menu-5block -->
                                        </li>
                                    </ul><!-- .dropdown-menu .fullwidth -->
                                </li><!-- .dropdown .mega-full .menu-color5 -->
                                <!-- End Mega Menu -->

                                <!-- Dropdown List Menu -->
                                <li class="dropdown menu-color1">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Features</a>
                                    <ul class="dropdown-menu animated fadeIn" role="menu">

                                        <li class="dropdown-submenu">
                                            <a href="index.php">Header Style</a>
                                            <ul class="dropdown-menu animated fadeIn" style="display: none;">
                                                <li><a href="index.php">Header Style 1</a></li>
                                                <li><a href="header-style2.php">Header Style 2</a></li>
                                                <li><a href="header-style3.php">Header Style 3</a></li>
                                                <li><a href="fixed_left.php">Header Style 4</a></li>
                                            </ul><!-- .dropdown-menu -->
                                        </li><!-- .dropdown-submenu -->

                                        <li class="dropdown-submenu">
                                            <a href="index.php">Footer Style</a>
                                            <ul class="dropdown-menu animated fadeIn" style="display: none;">
                                                <li><a href="index.php#footer">Footer Style 1</a></li>
                                                <li><a href="footer-style2.php#footer">Footer Style 2</a></li>
                                            </ul><!-- .dropdown-menu -->
                                        </li><!-- .dropdown-submenu -->

                                        <li class="dropdown-submenu">
                                            <a href="#">Pages</a>
                                            <ul class="dropdown-menu animated fadeIn" style="display: none;">
                                                <li><a href="page.php">About Page</a></li>
                                                <li><a href="page_contact.php">Contact Page</a></li>
                                                <li><a href="page_author.php">Author page</a></li>
                                                <li><a href="page_tags.php">Tags page</a></li>
                                                <li><a href="page_search.php">Search page</a></li>
                                                <li><a href="page_404.php">404 page</a></li>
                                            </ul><!-- .dropdown-menu -->
                                        </li><!-- .dropdown-submenu -->

                                        <li class="dropdown-submenu">
                                            <a href="#">Posts</a>
                                            <ul class="dropdown-menu animated fadeIn" style="display: none;">
                                                <li><a href="post_simple.php">Simple Post</a></li>
                                                <li><a href="post_review.php">Review Post</a></li>
                                                <li><a href="post_parallax.php">Parallax post</a></li>
                                                <li><a href="post_fullwidth.php">Full Width Post</a></li>
                                                <li><a href="post_fixed.php">Fixed Sidebar Post</a></li>
                                                <li><a href="post_slider.php">Gallery Post</a></li>
                                                <li><a href="post_video.php">Video Post</a></li>
                                            </ul><!-- .dropdown-menu -->
                                        </li><!-- .dropdown-submenu -->

                                        <li class="dropdown-submenu">
                                            <a href="#">Category Layouts</a>
                                            <ul class="dropdown-menu animated fadeIn" style="display: none;">
                                                <li><a href="blog_classic.php">Classic blog</a></li>
                                                <li><a href="blog_modern.php">Modern blog</a></li>
                                                <li><a href="grid_sidebar.php">Grid blog</a></li>
                                                <li><a href="minimal_blog.php">Minimal blog</a></li>
                                                <li><a href="fixed_blog.php">Fixed sidebar blog</a></li>
                                                <li><a href="big_blog.php">Left big column blog</a></li>
                                            </ul><!-- .dropdown-menu -->
                                        </li><!-- .dropdown-submenu -->

                                        <li><a href="page_typography.php">Typography</a></li>
                                        <li><a href="page_shortcodes.php">Shortcodes</a></li>
                                    </ul><!-- dropdown-menu -->
                                </li><!-- .dropdown .menu-color1 -->
                                <!-- End Dropdown List Menu -->

                            </ul><!-- .nav .navbar-nav -->
                        </div><!-- .navbar-collapse -->              <!-- End Navigation Menu -->

                        <div class="header-right">
                            <div class="social-icons">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Google+"><i class="fa fa-google-plus fa-lg"></i></a>
                                <!-- Only for Fixed Sidebar Layout -->
                                <a href="#" class="fixed-button navbar-toggle" id="fixed-button">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </a><!-- .fixed-button -->
                            </div><!-- .social-icons -->
                        </div><!-- .header-right -->

                    </nav><!-- .navbar -->

                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search text..." value="" name="search" id="search" type="text">
                            <input class="sb-search-submit" value="" type="submit">
                            <span class="sb-icon-search fa fa-search" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Search"></span>
                        </form>
                    </div><!-- .sb-search -->            </div>
            </div>
        </div><!-- .mag-content -->
    </div><!-- .container -->
</div>