<nav id="mobile-nav">
    <div>
        <ul>
            <li>
                <a href="{{ url('homepage') }}">Home</a>
            </li>
            {{ menu_generator.generateMobileMenu() }}
        </ul>
    </div>
</nav>