{% extends ':layout/admin:admin.html.twig' %}

{% set sectionTitle = "Update Ad" %}

{% block title %}
    {{ sectionTitle }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ sectionTitle }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ url('user-ads') }}">Ads</a></li>
            <li class="active">{{ sectionTitle }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ include(':user/advertisement/ad/partials:ad-form.html.twig', [ad]) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/admin/js/admin.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/jquery-validation/dist/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/js/validator/validation-rules.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/js/validator/post-validator.js') }}"></script>
    <script type="text/javascript">
        disable();
        fileinputConfig = {
            'showUpload': false,
            "maxFileCount": 1,
            "autoReplace": true,
            'allowedFileTypes': 'image',
            'allowedExtensions': ['jpg', 'png', 'gif', 'jpeg'],
            'initialPreviewAsData': true,
            'overwriteInitial': true
        };
        {% if(ad.image.oldName.vars.value) %}

        fileinputConfig.initialPreview = '{{ asset(media_path ~ ad.image.oldName.vars.value) }}';
        fileinputConfig.initialCaption = '{{ ad.image.oldName.vars.value }}';
        fileinputConfig.deleteUrl = '/media/delete-file';
        fileinputConfig.initialPreviewShowDelete = true;
        fileinputConfig.initialPreviewConfig = [
            {key: 1, extra: {'name': fileinputConfig.initialCaption}}
        ];
        {% endif %}

        initBootstrapFileInput('.img-fileinput', fileinputConfig);

        $('.img-fileinput').on('filedeleted', function(event, key, jqXHR, data) {
            $('#ad_form_image_oldName').val('');
            $('#ad_form_image_id').val('');
        });

        var validFrom = $('.datepicker-from').datetimepicker({
            format: 'Y-MM-DD',
            useCurrent: false
        });

        validFrom.on('dp.change', function (evt) {
            if(evt.date){
                $('.datepicker-to').removeAttr('disabled');

                var validToPicker = $('.datepicker-to').datetimepicker({
                    format: 'Y-MM-DD',
                    useCurrent: false
                });

                validToPicker.data('DateTimePicker').minDate(evt.date.add(1, 'day'));
            }
            else {
                disable();
            }
        });

        function disable(){
            if(_.isEmpty($('.datepicker-from').val())){
                $('.datepicker-to').attr('disabled', 'disabled');
            }
        }
    </script>
{% endblock %}