<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/eonasdan-bootstrap-datetimepicker-with-added-options/build/css/bootstrap-datetimepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/jquery-ui-dist/jquery-ui.structure.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/jquery-ui-dist/jquery-ui.theme.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/library/AdminLTE/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/library/AdminLTE/css/skins/skin-blue.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/datatables.net-bs/css/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap-fileinput/css/fileinput.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/style.css') }}">
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
<div class="wrapper">
    <header class="main-header">
        <a href="{{ url('user-dashboard') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>MR</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>MinamRosh</b>CMS</span>
        </a>

        {% include ':layout/admin/partials/navigation:nav-static-top.html.twig' %}
    </header>

    {% include ':layout/admin/partials/navigation:nav-main-sidebar.html.twig' %}

    <div class="content-wrapper">
        {% block body %}{% endblock %}
    </div>

    <footer class="main-footer">
        <div class="text-center">
            <strong>Copyright &copy; MinamRosh</strong>
            <em>Version 1.0.0</em>
        </div>
        <div class="pull-right">
            <em>Theme Powered By </em> <strong>AdminLTE V2</strong>
        </div>
        <div class="clearfix"></div>
    </footer>

</div>

<script type="text/javascript" src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('node_modules/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('node_modules/lodash/lodash.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('node_modules/moment/min/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('node_modules/eonasdan-bootstrap-datetimepicker-with-added-options/build/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.js') }}"></script>
<script src="{{ asset('node_modules/datatables.net/js/jquery.dataTables.js') }}"></script>
<script src="{{ asset('node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ asset('node_modules/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/library/AdminLTE/js/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/admin/js/admin.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
