<nav>
    <ul class="pager">
        <li class="{{ (pagination.currentPage == 1) ? 'disabled' : '' }}">
            <a href="{{ (pagination.currentPage != 1) ? url(pagination.routeName, pagination.parameter|merge({'page': pagination.currentPage - 1})) : '#' }}" ><i class="fa fa-angle-left"></i> Previous</a>
        </li>
        <li class="{{ (pagination.currentPage == pagination.totalPages) ? 'disabled' : '' }}">
            <a href="{{ (pagination.currentPage != pagination.totalPages) ? url(pagination.routeName, pagination.parameter|merge({'page': pagination.currentPage + 1})) : '#' }}">Next <i class="fa fa-angle-right"></i></a>
        </li>
    </ul>
</nav>