
<nav>
    <ul class="pagination pagination-sm">

        {% if (pagination.currentPage == 1) %}
            <li class="'disabled'">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="">
                <a href="{{ url(pagination.routeName, pagination.parameter|merge({'page': pagination.currentPage - 1})) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for i in 1..pagination.totalPages %}
            <li class="{{ (pagination.currentPage == i) ? 'active' : '' }}">
                <a href="{{ url(pagination.routeName, pagination.parameter|merge({'page': i})) }}">{{ i }}</a>
            </li>
        {% endfor %}

        {% if (pagination.currentPage == pagination.totalPages) %}
            <li class="{{ (pagination.currentPage == pagination.totalPages) ? 'disabled' : '' }}">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="">
                <a href="{{ url(pagination.routeName, pagination.parameter|merge({'page': pagination.currentPage + 1})) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}

    </ul>
</nav>