<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            {#<li class="header">MAIN NAVIGATION</li>#}
            <li class="treeview">
                <a href="{{ url("user-dashboard") }}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview {{ app.request.attributes.get('_route') == 'user-new-post' ? 'active' }}">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Posts</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{{ app.request.attributes.get('_route') == 'user-new-post' ? 'active' }}"><a href="{{ url("user-new-post") }}"><i class="fa fa-circle-o"></i> New Post</a></li>
                    <li><a href="{{ url("user-posts") }}"><i class="fa fa-circle-o"></i> Manage Post</a></li>
                </ul>
            </li>
            <li class="treeview {{ app.request.attributes.get('_route') == 'user-new-page' ? 'active' }}">
                <a href="#">
                    <i class="fa fa-file-text-o"></i>
                    <span>Pages</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{{ app.request.attributes.get('_route') == 'user-new-page' ? 'active' }}"><a href="{{ url("user-new-page") }}"><i class="fa fa-circle-o"></i> New Page</a></li>
                    <li><a href="{{ url("user-pages") }}"><i class="fa fa-circle-o"></i> Manage Pages</a></li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> Page Sections
                            <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ url('user-new-page-section') }}"><i class="fa fa-circle-o"></i> Add Page Section</a></li>
                            <li><a href="{{ url('user-page-sections') }}"><i class="fa fa-circle-o"></i> Manage Page Sections</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-list-alt"></i>
                    <span>Sections</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ url('user-new-section') }}"><i class="fa fa-circle-o"></i> New Section</a></li>
                    <li><a href="{{ url('user-sections') }}"><i class="fa fa-circle-o"></i> Manage Section</a></li>
                </ul>
            </li>
            <li class="treeview {{ app.request.attributes.get('_route') == 'user-new-page' ? 'active' }}">
                <a href="#">
                    <i class="fa fa-newspaper-o"></i>
                    <span>Advertisement</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#"><i class="fa fa-address-card-o"></i> Client
                            <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ url('user-new-ad-client') }}"><i class="fa fa-circle-o"></i> New Client</a></li>
                            <li><a href="{{ url('user-ad-clients') }}"><i class="fa fa-circle-o"></i> Manage Clients</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> Ad
                            <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ url('user-new-ad') }}"><i class="fa fa-circle-o"></i> New Ad</a></li>
                            <li><a href="{{ url('user-ads') }}"><i class="fa fa-circle-o"></i> Manage Ad</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> Ad Section
                            <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ url('user-create-ad-section') }}"><i class="fa fa-circle-o"></i> Add Ad Section</a></li>
                            <li><a href="{{ url('user-ad-section') }}"><i class="fa fa-circle-o"></i> Manage Ad Sections</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Authors</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ url('user-new-author') }}"><i class="fa fa-indent"></i>Add Author</a></li>
                    <li><a href="{{ url('user-authors') }}"><i class="fa fa-indent"></i>Manage Authors</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th-large"></i>
                    <span>Configure</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ url('user-post-categories') }}"><i class="fa fa-indent"></i> Post Categories</a></li>
                    <li><a href="{{ url('user-section-category') }}"><i class="fa fa-indent"></i> Page &amp; Categories</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user-circle"></i>
                    <span>User Management</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('user-register') }}"><i class="fa fa-indent"></i> Register User</a></li>
                    <li><a href="{{ url('user-accounts') }}"><i class="fa fa-indent"></i> Manage Users</a></li>
                    {% endif %}
                    <li>
                        <a href="{{ url('user-accounts') }}"><i class="fa fa-vcard"></i> Account
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ url('user-profile') }}"><i class="fa fa-circle-o"></i> Profile</a></li>
                            <li><a href="{{ url('user-change-password') }}"><i class="fa fa-circle-o"></i> Change Password</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="{{ url('user-view-site') }}">
                    <i class="fa fa-info-circle"></i>
                    <span>Configure Site</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Team Members</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ url('user-new-memeber') }}"><i class="fa fa-indent"></i> New Member</a></li>
                    <li><a href="{{ url('user-members') }}"><i class="fa fa-indent"></i> Manage Members</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>