<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title">New message</h4>
            </div>
            <div class="modal-body">
                <div id="modal-content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-delete-confirm" class="btn btn-sm btn-flat btn-primary" onclick="deleteItem(event)" data-action="">Yes</button>
                <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>