<footer class="footer source-org vcard copyright clearfix" id="footer" role="contentinfo">
    <div class="footer-main">
        <div class="fixed-main">
            <div class="container">
                <div class="mag-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="footer-block">
                                <p class="clearfix">
                                    <a class="logo" href="{{ url('homepage') }}" title="{{ site_title() }}" rel="home">
                                        {% set banner = site_banner() %}
                                        {% if banner is defined and banner is not empty %}
                                            <img src="{{ asset(media_path ~ banner) }}" style="max-height: 100px;" alt="">
                                        {% else %}
                                            {{ site_name() }}
                                        {% endif %}
                                    </a><!-- .logo -->
                                </p>
                                <div class="description">
                                    {% set info = page_section('info-section') %}
                                    {%if info is not null and info is defined %}
                                        {{ info.content | raw }}
                                    {% endif %}
                                </div>
                            </div><!-- Footer Block -->
                        </div>
                        <div class="col-md-3">
                            <div class="footer-block">
                                <h3 class="footer-title">About {{ site_name() }}</h3>
                                <ul class="footer-menu">
                                    {% set pages = page_nav_service.findAllBy({'section': false}) %}
                                    {% if pages %}
                                        {% for page in pages %}
                                            <li><a href="{{ path('page', {'category': page.slug}) }}"> {{ page.name }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div><!-- Footer Block -->
                        </div>

                        <div class="col-md-4">
                            <div class="footer-block">
                                <h3 class="footer-title">Stay Connected</h3>
                                <ul class="footer-menu">
                                    {% if site_facebook() %}
                                        <li><a href="{{ site_twitter() }}" target="_blank">Facebook</a></li>
                                    {% endif %}

                                    {% if site_twitter() %}
                                        <li><a href="{{ site_twitter() }}" target="_blank">Twitter</a></li>
                                    {% endif %}

                                    {% if site_googleplus() %}
                                        <li><a href="{{ site_googleplus() }}" target="_blank">Google+</a></li>
                                    {% endif %}
                                </ul>
                            </div><!-- Footer Block -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="fixed-main">
            <div class="container">
                <div class="mag-content">
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{ site_name() }} &copy; {{ date('Y') | date('Y') }}. All Rights Reserved</p>
                        </div>

                        <div class="col-md-6">
                            <div class="social-icons pull-right">
                                {% if site_facebook() %}
                                    <a href="{{ site_twitter() }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                {% endif %}

                                {% if site_twitter() %}
                                    <a href="{{ site_twitter() }}" target="_blank"><i class="fa fa-twitter"></i></a>
                                {% endif %}

                                {% if site_googleplus() %}
                                    <a href="{{ site_googleplus() }}" target="_blank"><i class="fa fa-google-plus"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>