{% if slider1 is defined and slider1 is not empty %}

<div class="row featured-wrapper">
    <div class="col-md-12">
        <div class="flexslider">
            <div class="featured-slider">

                <div class="slider-item">
                    <div class="row">
                        {% if slider1[0] is defined %}
                            <div class="col-md-8 omega">
                                <div class="featured-big border-right">
                                    <a href="{{ url('post-detail', {category: slider1[0].category.slug, slug: slider1[0].slug}) }}" class="featured-href">
                                        {% if slider1[0].featureImage.name is defined %}
                                        <img src="{{ asset(media_path ~ slider1[0].featureImage.name) }}" alt="">
                                        {% endif %}

                                        <div class="featured-header">
                                            <span class="category bgcolor2">{{ slider1[0].category.name }}</span>
                                            <h2>{{ slider1[0].title }}</h2>
                                            <p class="simple-share">
                                                <span class="article-date">{{ slider1[0].createdAt | date('d F, Y') }}</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                        {% if slider1[1] is defined %}

                        <div class="col-md-4 alpha">

                            <div class="featured-small featured-top border-bottom">
                                <a href="{{ url('post-detail', {category: slider1[1].category.slug, slug: slider1[1].slug}) }}" class="featured-href">
                                    {% if slider1[1].featureImage.name is defined %}
                                    <img src="{{ asset(media_path ~ slider1[1].featureImage.name) }}" alt="">
                                        {% endif %}
                                    <div class="featured-header">
                                        <span class="category bgcolor5">{{ slider1[1].category.name }}</span>
                                        <h2>{{ slider1[1].title }}</h2>
                                        <p class="simple-share">
                                            <span class="article-date">{{ slider1[1].createdAt | date('d F, Y') }}</span>
                                        </p>
                                    </div>
                                </a>
                            </div>

                            {% if slider1[2] is defined %}
                            <div class="featured-small">
                                <a href="{{ url('post-detail', {category: slider1[2].category.slug, slug: slider1[2].slug}) }}" class="featured-href">
                                    {% if slider1[2].featureImage.name is defined %}
                                    <img src="{{ asset(media_path ~ slider1[2].featureImage.name) }}" alt="">
                                        {% endif %}
                                    <div class="featured-header">
                                        <span class="category bgcolor5">{{ slider1[2].category.name }}</span>
                                        <h2>{{ slider1[2].title }}</h2>
                                        <p class="simple-share">
                                            <span class="article-date">{{ slider1[2].createdAt | date('d F, Y') }}</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div><!-- .row -->
                </div><!-- .slider-item -->

                {% if slider2 is defined and slider2 is not empty %}
                <div class="slider-item">
                    <div class="row">
                        {% if slider2[0] is defined %}
                            <div class="col-md-8 omega">
                                <div class="featured-big border-right">
                                    <a href="{{ url('post-detail', {category: slider2[0].category.slug, slug: slider2[0].slug}) }}" class="featured-href">
                                        {% if slider2[0].featureImage.name is defined %}
                                            <img src="{{ asset(media_path ~ slider2[0].featureImage.name) }}" alt="">
                                        {% endif %}
                                        <div class="featured-header">
                                            <span class="category bgcolor2">{{ slider2[0].category.name }}</span>
                                            <h2>{{ slider2[0].title }}</h2>
                                            <p class="simple-share">
                                                <span class="article-date">{{ slider2[0].createdAt | date('d F, Y') }}</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                        {% if slider2[1] is defined %}

                            <div class="col-md-4 alpha">

                                <div class="featured-small featured-top border-bottom">
                                    <a href="{{ url('post-detail', {category: slider2[1].category.slug, slug: slider2[1].slug}) }}" class="featured-href">
                                        {% if slider2[1].featureImage.name is defined %}
                                            <img src="{{ asset(media_path ~ slider2[1].featureImage.name) }}" alt="">
                                        {% endif %}
                                        <div class="featured-header">
                                            <span class="category bgcolor5">{{ slider2[1].category.name }}</span>
                                            <h2>{{ slider2[1].title }}</h2>
                                            <p class="simple-share">
                                                <span class="article-date">{{ slider2[1].createdAt | date('d F, Y') }}</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>

                                {% if slider2[2] is defined %}
                                    <div class="featured-small">
                                        <a href="{{ url('post-detail', {category: slider2[2].category.slug, slug: slider2[2].slug}) }}" class="featured-href">
                                            {% if slider2[2].featureImage.name is defined %}
                                                <img src="{{ asset(media_path ~ slider2[2].featureImage.name) }}" alt="">
                                            {% endif %}
                                            <div class="featured-header">
                                                <span class="category bgcolor5">{{ slider2[2].category.name }}</span>
                                                <h2>{{ slider2[2].title }}</h2>
                                                <p class="simple-share">
                                                    <span class="article-date">{{ slider2[2].createdAt | date('d F, Y') }}</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div><!-- .row -->
                </div><!-- .slider-item -->
                {% endif %}

                {% if slider3 is defined and slider3 is not empty %}
                <div class="slider-item">
                    <div class="row">
                        {% if slider3[0] is defined %}
                            <div class="col-md-8 omega">
                                <div class="featured-big border-right">
                                    <a href="{{ url('post-detail', {category: slider3[0].category.slug, slug: slider3[0].slug}) }}" class="featured-href">

                                        {% if slider3[0].featureImage.name is defined %}
                                            <img src="{{ asset(media_path ~ slider3[0].featureImage.name) }}" alt="">
                                        {% endif %}
                                        <div class="featured-header">
                                            <span class="category bgcolor2">{{ slider3[0].category.name }}</span>
                                            <h2>{{ slider3[0].title }}</h2>
                                            <p class="simple-share">
                                                <span class="article-date">{{ slider3[0].createdAt | date('d F, Y') }}</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                        {% if slider3[1] is defined %}

                            <div class="col-md-4 alpha">

                                <div class="featured-small featured-top border-bottom">
                                    <a href="{{ url('post-detail', {category: slider3[1].category.slug, slug: slider3[1].slug}) }}" class="featured-href">
                                        {% if slider3[1].featureImage.name is defined %}
                                            <img src="{{ asset(media_path ~ slider3[1].featureImage.name) }}" alt="">
                                        {% endif %}

                                        <div class="featured-header">
                                            <span class="category bgcolor5">{{ slider3[1].category.name }}</span>
                                            <h2>{{ slider3[1].title }}</h2>
                                            <p class="simple-share">
                                                <span class="article-date">{{ slider3[1].createdAt | date('d F, Y') }}</span>
                                            </p>
                                        </div>
                                    </a>
                                </div>

                                {% if slider3[2] is defined %}
                                    <div class="featured-small">
                                        <a href="{{ url('post-detail', {category: slider3[2].category.slug, slug: slider3[2].slug}) }}" class="featured-href">
                                            {% if slider3[2].featureImage.name is defined %}
                                                <img src="{{ asset(media_path ~ slider3[2].featureImage.name) }}" alt="">
                                            {% endif %}
                                            <div class="featured-header">
                                                <span class="category bgcolor5">{{ slider3[2].category.name }}</span>
                                                <h2>{{ slider3[1].title }}</h2>
                                                <p class="simple-share">
                                                    <span class="article-date">{{ slider3[2].createdAt | date('d F, Y') }}</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div><!-- .row -->
                </div><!-- .slider-item -->
                {% endif %}

            </div><!-- .featured-slider -->
        </div><!-- .flexslider -->
    </div>
</div>
{% endif %}