{%- block form_errors -%}
    {%- if errors|length > 0 -%}
            <ul class="has-error">
                {%- for error in errors -%}
                    <li><i class="fa fa-times-circle-o"></i>
                        {{ error.message }}</li>
                {%- endfor -%}
            </ul>
    {%- endif -%}
{%- endblock form_errors -%}