{% form_theme post with [":twig/form:bootsrap3-default-layout.html.twig", "twig/form/error/form-errors.html.twig"] %}
{{ form_start(post) }}
<div class="box-body">
    {%- if not post.vars.valid -%}
        <div class="alert alert-error alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span>
            </button>
            <ul>
                {%- for field in post.children -%}
                    {% if field.vars.errors is defined %}
                    {% for error in field.vars.errors %}
                        <li><i class="fa fa-times-circle-o"></i> {{ error.message }}</li>
                    {% endfor %}
                    {% endif %}
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
    {{ form_widget(post) }}
</div>
{{ form_end(post) }}