{% extends ':layout/admin:admin.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% set sectionTitle = "Error" %}

{% block title %}
    {{ sectionTitle }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ sectionTitle }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">{{ sectionTitle }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="error-page">
                            <h2 class="headline text-red">{{ status_code }}</h2>
                            <div class="error-content">
                                <h3>
                                    <i class="fa fa-warning text-red">{{ status_code }}</i>
                                    {{ status_text }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}