{% if posts is defined and posts is not empty %}
    <div class="col-md-12">
    <h3 class="block-title"><span><a href="{{ url('post-category', {category: category}) }}">{{ category | replace({'-':' '}) }}</a></span></h3>
    {% set isRowOpen = true %}
    {% set count = 0 %}

    {% for post in posts %}
        {% if isRowOpen == true %}
            <div class="row">
            {% set isRowOpen = false %}
        {% endif %}
        <div class="col-md-6">
            <article class="news-block">
                <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}" class="overlay-link">
                    <figure class="image-overlay">
                        {% if post.featureImage.name is defined %}
                        <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                            {% endif %}
                    </figure>
                </a>
                <header class="news-details">
                    <h3 class="news-title">
                        <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                            {{ post.title }}
                        </a>
                    </h3>
                    <p class="text-justify">
                        {{ truncate_words(post.content, 50) }}
                    </p>
                    <p class="simple-share">
                        <span class="article-date"><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                    </p>
                </header>
            </article><!-- News block -->
        </div>

        {% set count = count + 1 %}

        {% if count > 1 and isRowOpen == false %}
            </div>
            {% set isRowOpen = true %}
            {% set count = 0 %}
        {% endif %}
    {% endfor %}

    {% if count < 2 and isRowOpen == false %}
        </div>
    {% endif %}
    </div>
{% endif %}