{% if posts is defined and posts is not empty %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="block-title">
                <span><a href="{{ url('post-category', {category: category}) }}">{{ category | replace({'-': ' '}) }}</a></span>
            </h3>
        </div>
    </div>
    {% set isFirst = true %}
    {% set isRowOpen = true %}
    {% set count = 0 %}
    {% for post in posts %}
        {% if isRowOpen == true %}
            {% set isRowOpen = false %}
            <div class="row">
        {% endif %}

        {% if count == 0 %}
            <div class="col-md-8">
                <article class="featured-small box-news box-big">
                    <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                        {% if post.featureImage.name is defined %}
                        <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                            {% endif %}
                    </a>
                    <header class="featured-header">
                        <h2>
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.title }}</a>
                        </h2>
                        <p class="simple-share">
                            <span class="article-date">{{ post.createdAt | date('d F, Y') }}</span>
                        </p>
                    </header>
                </article>
            </div>
        {% else %}
            <div class="col-md-4">
                <article class="featured-small box-news">
                    <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                        {% if post.featurePost.name is defined %}
                        <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                            {% endif %}
                    </a>
                    <header class="featured-header">
                        <h2>
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.title }}</a>
                        </h2>
                        <p class="simple-share">
                            <span class="article-date">{{ post.createdAt | date('d F, Y') }}</span>
                        </p>
                    </header>
                </article>
            </div>
        {% endif %}
        {% set count = count + 1 %}
        {% if count > 1 and isFirst == true %}
            </div><!--End small box -->
            {% set isFirst = false %}
            {% set isRowOpen = true %}
        {% endif %}

        {% if count > 4 %}
            </div>
        {% endif %}
    {% endfor %}

    {% if isRowOpen == false %}
        </div>
    {% endif %}
{% endif %}