{% if posts is defined and posts is not empty %}
    <div class="col-md-6 news-text-block">
        <h3 class="block-title"><span><a href="{{ url('post-category', {category: category}) }}">{{ category | replace({'-': ' '}) }}</a></span></h3>

        {% for post in posts %}
            <article class="widget-post clearfix">
                {% if post.featureImage.name is defined %}
                    <div class="simple-thumb">
                        <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                            <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                        </a>
                    </div>
                {% endif %}
                <header>
                    <h3>
                        <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.title }}</a>
                    </h3>
                    <p class="simple-share">
                        <span><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                    </p>
                </header>
            </article>
        {% endfor %}
    </div>
{% endif %}