{% if posts is defined and posts is not empty %}
    <section class="news-text-block">
        {% set count = 0 %}
        {% set isRowOpen = true %}

        {% set isFirst = true %}
        {% for post in posts %}
            {% if count == 0 %}
                <div class="row">
                    <div class="col-md-12">

                        <h3 class="block-title"><span><a href="{{ url('post-category', {category: post.category.slug}) }}">{{ post.category.name }}</a></span></h3>

                        <article class="news-block big-block">
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}" class="overlay-link">
                                <figure class="image-overlay">
                                    {% if post.featureImage.name is defined %}
                                        <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                                    {% endif %}
                                </figure>
                            </a>
                            <header class="news-details">
                                <h3 class="news-title">
                                    <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                                        {{ post.title }}
                                    </a>
                                </h3>
                                <p class="text-justify">{{ truncate_words(post.content, 50) }}</p>
                                <p class="simple-share">
                                    <span class="article-date"><i class="fa fa-clock-o"></i>{{ post.createdAt | date('d F, Y') }}</span>
                                </p>
                            </header>
                        </article><!-- News block -->
                    </div>
                </div>
            {% endif %}

            {% if count > 0 and isRowOpen == true %}
                <div class="row">
                {% set isRowOpen = false %}
            {% endif %}

            {% if count > 0 %}
                <div class="col-md-6">
                    <article class="news-block small-block">
                        <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}" class="overlay-link">
                            <figure class="image-overlay">
                                {% if post.featureImage.name is defined %}
                                    <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                                {% endif %}
                            </figure>
                        </a>
                        <header class="news-details">
                            <h3 class="news-title">
                                <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                                    {{ post.title }}
                                </a>
                            </h3>
                            <p class="simple-share">
                                <span class="article-date"><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                            </p>
                        </header>
                    </article><!-- News block -->
                </div>

            {% endif %}

            {% set count = count + 1 %}

            {% if (isRowOpen == false) and (count > 2) %}
                {% set count = 1 %}
                {% set isRowOpen = true %}
            </div>
            {% endif %}

        {% endfor %}

        {% if count <= 2 and isRowOpen == false %}
            {% set count = 1 %}
            </div>
        {% endif %}
    </section>
{% endif %}