{% if posts is defined and posts is not empty %}
    <div class="row">
        <div class="col-md-12">
            <section class="admag-block">
                {% set isFirst = true %}
                {% for post in posts %}
                    {% if isFirst == true %}
                        <h3 class="block-title">
                            <span><a href="{{ url('post-category', {category: post.category.slug}) }}">{{ post.category.name }}</a></span></h3>

                        <article class="news-block big-block">
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}" class="overlay-link">
                                <figure class="image-overlay">
                                    {% if post.featureImage.name is defined %}
                                        <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                                    {% endif %}
                                </figure>
                            </a>
                            <header class="news-details">
                                <h3 class="news-title">
                                    <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                                        {{ post.title }}
                                    </a>
                                </h3>
                                <p class="text-justify">{{ truncate_words(post.content, 50) }}</p>
                                <p class="simple-share">
                                    <span class="article-date"><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                                </p>
                            </header>
                        </article>
                    {% endif %}

                    {% if isFirst == false %}

                        <article class="simple-post simple-big clearfix">
                            {% if post.featureImage %}
                                <div class="simple-thumb">

                                    <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                                        <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                                    </a>
                                </div>
                                <header>
                                    <p class="simple-share">
                                        <span><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                                    </p>

                                    <h3>
                                        <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.title }}</a>
                                    </h3>

                                    <p class="excerpt text-justify">
                                        {{ truncate_words(post.content, 20) }}
                                    </p>
                                </header>
                            {% else %}
                                <header>
                                    <h3>
                                        <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.title }}</a>
                                    </h3>
                                    <p class="simple-share">
                                        <span><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                                    </p>
                                    <p class="excerpt">
                                        {{ truncate_words(post.content, 35) }}
                                    </p>
                                </header>
                            {% endif %}
                        </article>

                    {% endif %}

                    {% set isFirst = false %}
                {% endfor %}
            </section>
        </div>
    </div>
{% endif %}