{% extends ':layout/admin:admin.html.twig' %}

{% block title %}
    New Section Category
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>New Section Category</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ url('user-section-category') }}">Section Categories</a></li>
            <li class="active">New Section Category</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ include(':user/section-category/partials:section-category-form.html.twig', [category]) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/admin/js/admin.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/jquery-validation/dist/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/js/validator/validation-rules.js') }}"></script>
{% endblock %}