{% extends "bootstrap_3_layout.html.twig" %}


    {% block form_start %}
<div class="box box-default">
    {{- parent() -}}
    {% endblock %}

    {% block form_end %}
    {{- parent() -}}
</div>
{% endblock %}

{% block form %}
    {{- form_start(form) -}}
    <div class="box-body">
        {{- form_widget(form) -}}
    </div>
    {{- form_end(form) -}}
{% endblock %}
