{% extends ':layout/admin:admin.html.twig' %}

{% set sectionTitle = "Update Advertisement Client" %}

{% block title %}
   {{ sectionTitle }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ sectionTitle }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ url('user-ad-clients') }}">Advertisement Clients</a></li>
            <li class="active">{{ sectionTitle }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ include(':user/advertisement/client/partials:ad-client-form.html.twig', [client]) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("assets/library/ckeditor/ckeditor.js") }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/js/admin.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/jquery-validation/dist/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/js/validator/validation-rules.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/js/validator/post-validator.js') }}"></script>
    <script type="text/javascript">
        configCkeditor("ads_client_form_content");
    </script>
{% endblock %}