{% extends ':layout/public:page-layout.html.twig' %}

{% block pageTitle %}
    {% set pageTitle = (page.meta and page.meta.title is defined) ? page.meta.title : page.title %}
    {{ site_title(pageTitle ~ ' | ' ~ page.category.name) }}
{% endblock %}

{% block meta %}
    {{ og_tags(null, url('about-us')) }}
{% endblock %}

{% block parallax_header %}
<div class="parallax-header page-wrapper">

    <!-- Parallax image -->
    <div class="parallax-image" id="parallax-image" data-stellar-ratio="0.5" data-image="{{ asset(media_path ~ ((page.featureImage) ? page.featureImage.name : ''))  }}">
    </div>

    <!-- Post title and meta -->
    <div class="parallax-wrapper">
        <div class="container">
            <div class="mag-content parallax-box">
                <div class="row">
                    <div class="col-md-12 parallax-box">
                        <header class="page-header">
                            <h1 class="page-title">
                                {{ page.title }}
                            </h1><!-- .post-title -->
                        </header><!-- .post-header -->
                    </div><!-- .col-md-12 -->
                </div><!-- .row -->
            </div>
        </div><!-- .container -->

    </div><!-- .parallax-wrapper -->
</div><!-- .parallax-header -->
{% endblock %}

{% block content %}
    <div>
        {{ page.content | raw }}
    </div>

    {% if members is defined and members is not empty %}
        <h3 class="page-subtitle">Our Team</h3>

        {% set isRowOpen = true %}
        {% set count = 0 %}

        {% for member in members %}
            {% if isRowOpen == true %}
        <div class="row">
            {% endif %}

            <div class="col-md-4">
                <div class="widget author-widget">
                    {% if member.image.name is defined %}
                        <div class="author-thumb">
                            <img alt="" src="{{ asset(media_path ~ member.image.name) }}" class="avatar">
                        </div>
                    {% endif %}
                    <div class="author-meta">
                        <h3 class="author-title">
                            {{ member.fullName }}
                        </h3>
                        <p class="author-position">{{ member.designation }}</p>
                        <p class="author-bio">{{ member.bio }}</p>
                        <div class="author-page-contact">
                            <a href="#">
                                <i class="fa fa-lg fa-envelope-o" title="{{ member.email }}"></i>
                            </a>
                            <a href="{{ member.facebookLink }}" target="_blank">
                                <i class="fa fa-lg fa-facebook"></i>
                            </a>
                            <a href="{{ member.twitterLink }}" target="_blank">
                                <i class="fa fa-lg fa-twitter"></i>
                            </a>
                            <a href="{{ member.googleplusLink }}" target="_blank">
                                <i class="fa fa-lg fa-google-plus"></i>
                            </a>
                            <a href="{{ member.linkedinLink }}" target="_blank">
                                <i class="fa fa-lg fa-linkedin"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            {% set count = count + 1 %}
            {% set isRowOpen = false %}

            {% if count > 2 %}
                {% set isRowOpen = true %}
                {% set count = 0 %}
        </div>
                {% endif %}
        {% endfor %}

        {% if isRowOpen == false and count < 2 %}
            </div>
            {% endif %}
    {% endif %}
{% endblock %}