{% extends ':layout/public:category-layout.html.twig' %}

{% block pageTitle %}
    {% set pageTitle = app.request.attributes.get('category')|replace({'-': ' '}) %}
    {{ site_title(pageTitle) }}
{% endblock %}

{% block meta %}
    {{ og_tags(null, url('post-category', {category: app.request.attributes.get('category')})) }}
{% endblock %}

{% block content  %}
<h3 class="block-title"><span>{{ app.request.attributes.get('category')|replace({'-': ' '}) }}</span></h3>

    {% set first = 1 %}
    {% for post in posts %}
        {% if first == 1 %}
            {% set first = 0 %}
            <article class="news-block big-block">

                    <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}" class="overlay-link">
                        <figure class="image-overlay">
                            {% if post.featureImage %}
                                <img src="{{ asset(media_path ~ post.featureImage.name) }}" style="max-height: 480px;" alt="">
                            {% endif %}
                        </figure>
                    </a>

                    <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}" class="category">
                        {{ post.category.name }}
                    </a>

                <header class="news-details">
                    <h3 class="news-title">
                        <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                            {{ post.title }}
                        </a>
                    </h3>
                    <div class="text-justify">
                        {{ truncate_words(post.content, 35) }}
                    </div>
                    <p class="simple-share">
                        <span class="article-date"><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                    </p>
                </header>
            </article>
        {% else %}
            <article class="simple-post simple-big clearfix">
                {% if post.featureImage %}
                    <div class="simple-thumb">

                        <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                            <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                        </a>
                    </div>
                    <header>
                        <p class="simple-share">
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.category.name }}</a>
                            <span><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                        </p>

                        <h3>
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.title }}</a>
                        </h3>

                        <p class="excerpt clearfix text-justify">
                            {{ truncate_words(post.content, 35) }}
                        </p>
                    </header>
                {% else %}
                    <header>
                        <h3>
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.title }}</a>
                        </h3>
                        <p class="simple-share">
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.category.name }}</a>
                            <span><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                        </p>
                        <p class="excerpt text-justify">
                            {{ truncate_words(post.content, 35) }}
                        </p>
                    </header>
                {% endif %}
            </article>
        {% endif %}
    {% endfor %}

    <div class="text-center">
        {{ paginate(pagination) }}
    </div>
{% endblock %}