{% extends ':layout/public:search-layout.html.twig' %}

{% block pageTitle %}
    {{ site_title('Error') }}
{% endblock %}

{% block content %}

        <h3 class="tag-title text-center">Error... <span>{{ status_code }} {{ status_text }}!</span></h3>
        <p class="text-center">Sorry, the page you are looking for does not exists!</p>

    <div class="search-div clearfix">
        <form class="searchwidget-form">
            <div class="input-group">
                <input type="text" class="form-control" name="term" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
    </div><!-- .search-div -->
{% endblock %}