{% extends ':layout/public:base-layout.html.twig' %}

{% block meta %}
    {{ og_tags(null, url('homepage')) }}
{% endblock %}


{% block wrapper %}
<!-- Feature Wrapper //-->
{{ homepage_slider(9) }}
<!-- End Feature Wrapper -->
    <div class="row main-body" data-stickyparent>
        <div class="col-md-8">
            <!-- BEGIN BLOCK 2 -->
            {{ homepage_posts('international', items_per_homepage_category, 'top-double-column') }}
            <!-- END BLOCK 2 -->
            <div class="row">
                <div class="col-md-12">
                    {{ sidebar_ad(constant('AppBundle\\Domain\\Entity\\Advertisement\\DefaultAdSection::HOMEPAGE_AD'), 1, 0) }}
                </div>
            </div>
        </div><!-- End Left big column -->

        <div class="col-md-4" data-stickycolumn>
            <aside class="sidebar clearfix">

                {{ sidebar_ad(constant('AppBundle\\Domain\\Entity\\Advertisement\\DefaultAdSection::TOP_SIDEBAR_AD')) }}

                {% include ':layout/public/partials/widget:post-highlight.html.twig' %}

            </aside>
        </div><!-- End last column -->
    </div>
<!-- .main-body -->

<section class="admag-block">
    {{ homepage_posts('technology', items_per_homepage_category, 'highlight') }}
</section><!-- .admag-block -->

<div class="row" data-stickyparent>
    <div class="col-md-8">
        {{ homepage_posts('lifestyle', items_per_homepage_category, 'top-single-column') }}

        <div class="row">
            <div class="col-md-12">
                {{ sidebar_ad(constant('AppBundle\\Domain\\Entity\\Advertisement\\DefaultAdSection::HOMEPAGE_AD'), 1, 1) }}
            </div>
        </div>

        <div class="row">
            {{ homepage_posts('business', items_per_homepage_category, 'double-column')}}
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ sidebar_ad(constant('AppBundle\\Domain\\Entity\\Advertisement\\DefaultAdSection::HOMEPAGE_AD'), 1, 2) }}
            </div>
        </div>

        <div class="row">
            {{ homepage_posts('events', items_per_homepage_category, 'normal') }}
            {{ homepage_posts('health', items_per_homepage_category, 'normal') }}
        </div>
    </div>
    <div class="col-md-4" data-stickycolumn>
        <aside class="sidebar">
            {{ sidebar_ad(constant('AppBundle\\Domain\\Entity\\Advertisement\\DefaultAdSection::BOTTOM_SIDEBAR_AD')) }}
        </aside><!-- End sidebar -->
    </div><!-- .col-md-4 .sticky-div -->
</div>

{% endblock %}