{% extends ':layout/public:page-layout.html.twig' %}

{% block pageTitle %}
    {% set pageTitle = (page.meta and page.meta.title is defined) ? page.meta.title : page.title %}
    {{ site_title(pageTitle ~ ' | ' ~ page.category.name) }}
{% endblock %}

{% block meta %}
    {{ og_tags(null, url('page', {category: page.category.slug})) }}
{% endblock %}

{% block parallax_header %}
    <div class="parallax-header page-wrapper">

        <!-- Parallax image -->
        {% if page.featureImage.name is defined %}
            <div class="parallax-image" id="parallax-image" data-stellar-ratio="0.5" data-image="{{ asset(media_path ~ page.featureImage.name) }}">
            </div>
        {% endif %}

        <!-- Post title and meta -->
        <div class="parallax-wrapper">
            <div class="container">
                <div class="mag-content parallax-box">
                    <div class="row">
                        <div class="col-md-12 parallax-box">
                            <header class="page-header">
                                <h1 class="page-title">
                                    {{ page.title }}
                                </h1><!-- .post-title -->

                                {#<p class="page-description">
                                    {{ page.content | raw }}
                                </p>#}
                            </header><!-- .post-header -->
                        </div><!-- .col-md-12 -->
                    </div><!-- .row -->
                </div>
            </div><!-- .container -->

        </div><!-- .parallax-wrapper -->
    </div><!-- .parallax-header -->
{% endblock %}

{% block content %}
    {{ page.content | raw }}
{% endblock %}