{% extends ':layout/public:search-layout.html.twig' %}

{% block pageTitle %}
    {{ site_title('Search') }}
{% endblock %}

{% block content %}
    {% if term is defined %}
        <h3 class="tag-title">Search results: <span>{{ term }}</span></h3>
    {% endif %}

    <div class="search-div clearfix">
        <form class="searchwidget-form">
            <div class="input-group">
                <input type="text" class="form-control" name="term" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
    </div><!-- .search-div -->

    {% if posts is defined %}
        {% for post in posts %}
            <article class="simple-post simple-big clearfix">
                {% if post.featureImage %}
                    <div class="simple-thumb">
                        <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                            <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                        </a>
                    </div>
                    <header>
                        <p class="simple-share">
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.category.name }}</a>
                            <span><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                        </p>

                        <h3>
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.title }}</a>
                        </h3>

                        <p class="excerpt text-justify">
                            {{ truncate_words(post.content, 20) }}
                        </p>
                    </header>
                {% else %}
                    <header>
                        <h3>
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.title }}</a>
                        </h3>
                        <p class="simple-share">
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">{{ post.category.name }}</a>
                            <span><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span>
                        </p>
                        <p class="excerpt">
                            {{ truncate_words(post.content, 35) }}
                        </p>
                    </header>
                {% endif %}
            </article>
        {% endfor %}
    {% endif %}

    {% if pagination is defined %}
        <div class="text-center">
            {{ paginate(pagination) }}
        </div>
    {% endif %}
{% endblock %}