{% extends ':layout/public:content-layout.html.twig' %}

{% block pageTitle %}
    {% set pageTitle = (post.meta and post.meta.title is defined) ? post.meta.title : post.title %}
    {{ site_title(pageTitle ~ ' | ' ~ post.category.name) }}
{% endblock %}

{% block meta %}
    {{ og_tags( post, url('post-detail', {category: post.category.slug, slug: post.slug})) }}
{% endblock %}

{% block content %}
<article class="post-wrapper clearfix">

    <header class="post-header">

        <h1 class="post-title">
            {{ post.title }}
        </h1><!-- .post-title -->

        <a href="" class="category bgcolor2">
            {{ post.category.name }}
        </a>

        <p class="simple-share">
            <span><span class="article-date"><i class="fa fa-clock-o"></i> {{ post.createdAt | date('d F, Y') }}</span></span>
            {#<span><i class="fa fa-eye"></i> 1349 views</span>#}
        </p>

        {% if post.featureImage %}
        <figure class="image-overlay" style="background: none">
            <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
            <figcaption style="text-align: right"><em>{{ post.featureImage.credit }}</em></figcaption>
        </figure>
        {% endif %}
    </header><!-- .post-header -->

    <div class="post-content clearfix text-justify">
        {{ post.content | raw }}
    </div><!-- .post-content -->

    <footer class="post-meta">

        <div class="share-wrapper clearfix">
            <div class="share-buttons">
                <div class="addthis_inline_share_toolbox"></div>
                {#<a class="social-share facebook" href="#">
                    <i class="fa fa-facebook"></i>
                    <span class="alt-text">Share</span>
                </a>
                <a class="social-share twitter twitter-share-button" href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}&via=msucil"  >
                    <i class="fa fa-twitter"></i>
                    <span class="alt-text">Tweet</span>
                </a>
                <a class="social-share google-plus" href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a class="social-share linked_in" href="#">
                    <i class="fa fa-linkedin"></i>
                </a>#}
            </div>
        </div>

        {% if post.author %}
            {{include ('layout/public/partials/widget/author.html.twig', {author: post.author})}}
        {% endif %}
    </footer>

</article><!-- .post-wrapper -->

<div class="related-posts clearfix">
    <h3 class="block-title"><span>Related Posts</span></h3>
    {% if posts %}
        {% set counter = 0 %}
        {% for post in posts %}
            {% if counter == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-md-6">
                <article class="news-block small-block">
                    <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}" class="overlay-link">
                        <figure class="image-overlay">
                            {% if post.featureImage %}
                            <img src="{{ asset(media_path ~ post.featureImage.name) }}" alt="">
                            {% endif  %}
                        </figure>
                    </a>
                    <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}" class="category">
                        {{ post.category.name }}
                    </a>
                    <header class="news-details">
                        <h3 class="news-title">
                            <a href="{{ url('post-detail', {category: post.category.slug, slug: post.slug}) }}">
                                {{ post.title }}
                            </a>
                        </h3>
                        <p class="simple-share">
                            <span class="article-date"><i class="fa fa-clock-o"></i> {{ post.createdAt|date }}</span>
                        </p>
                    </header>
                </article>
            </div>
            {% set counter = counter + 1 %}

            {% if counter == 2 %}
                </div><!-- .row -->
                {% set counter = 0 %}
            {% endif %}
        {% endfor %}
        {% if counter != 0 %}
            </div>
        {% endif %}
    {% endif %}

</div><!-- .related-post -->
<!-- Mid ad -->
<div class="row">
    <div class="col-md-12">
        {{ content_ad(constant('AppBundle\\Domain\\Entity\\Advertisement\\DefaultAdSection::CATEGORY_AD'), 1, 0) }}
    </div>
</div>
<!-- End Mid ad -->
<!-- Comment List -->
<div id="comments" class="comments-wrapper clearfix">
    <h3 class="block-title"><span>Comments</span></h3>
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
        this.page.url = '{{ url('post-detail', {category: post.category.slug, slug: post.slug})}}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ post.slug }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endblock %}