{% extends ':layout/admin:admin.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% set sectionTitle = "Pages" %}

{% block title %}
    {{ sectionTitle }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ sectionTitle }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">{{ sectionTitle }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-info">
                    <div class="box-body">
                        {% if(pages) %}
                            <table id="datatable" class="table table-responsive table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>Status</th>
                                    <th>Category</th>
                                    <th>Created By</th>
                                    <th>Created At</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include ":layout/admin/partials:delete-modal.html.twig" %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var datatable = $("#datatable").dataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "{{ url("user-datatable-page") }}",
                type: "POST",
                error: function (data) {
                    console.log(data.responseText);
                }
            },
            "columns": [
                {"title": "Title", name: "title", data: "title"},
                {"title": "Content", "visible": false, name: "content", data: "content"},
                {"title": "Status", name: "status", data: "status", render: function(data) {
                    if (data === 0) {
                        return 'Draft'
                    }
                    else if (data === 1) {
                        return 'Publish';
                    }
                    else if (data === 2) {
                        return 'Archive'
                    }
                }},
                {"title": "Category", name: "category", data: "category"},
                {"title": "Created By", name: "createdBy", data: "createdBy"},
                {
                    "title": "Created At", name: "createdAt", data: "createdAt", render: function (data, type, row) {
                    return moment(data, "YYYY-MM-DD").fromNow(false);
                }
                },
                {
                    "title": "Action", name: "action", data: "id", "searchable" : false,
                    "sortable" : false,
                    render: function (data, type, row, meta) {
                        var deleteUrl = "/user/page/delete/" + data;
                        var updateUrl = "/user/page/update/" + data;
                         return "<div>" +
                            "<a class='btn btn-default btn-sm btn-flat' href=" + updateUrl +"><i class='fa fa-1x fa-edit'></i></a>&nbsp;" +
                            "<a class='btn btn-default btn-sm btn-flat' href=" + updateUrl+"><i class='fa fa-1x fa-eye'></i></a>&nbsp;"+
                            "<button class='btn btn-danger btn-sm btn-flat' " +
                            "data-toggle='modal' data-target='#delete-modal' data-id=" + data + " data-title = 'Delete Page' " +
                             "data-content = 'Are you sure you want to delete this page?' " +
                             "data-action='"+ deleteUrl + "'>" +
                             "<i class='fa fa-1x fa-trash'></i></button>" +
                            "</div>";
                    }
                }
            ]
        });

        $("#delete-modal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.data('title');
            var content = button.data('content');
            var action = button.data('action');
            var id = button.data('id');

            var modal = $(this);
            modal.find('#modal-title').text(title);
            modal.find('#modal-content').text(content);

            $(modal.find('#modal-delete-confirm')).data("id", id);
            $(modal.find('#modal-delete-confirm')).data("action", action);
        });

    </script>
{% endblock %}