{% extends ':layout/email:base.html.twig' %}

{% block content %}
    <p>
        Dear {{ name }},
    </p>

    <p>
        {{ message }}
    </p>

    <p>
        Thank you,
    </p>
    <p>
        The Himalayan Affairs Team
    </p>
{% endblock %}