<html>
<head>
    <style type="text/css">
        .text-center {
            text-align: center;
        }

        a {
            text-decoration: none;
            color: #0b0b0b;
        }
    </style>
</head>
<body>
<section >
    <div class="text-center">
        <a href="{{ url('homepage') }}" rel="home">
            {% set banner = site_banner() %}
            {% if banner is defined and banner is not empty %}
                <img src="{{ asset(media_path ~ banner) }}" style="max-height: 100px;" alt="">
            {% else %}
                {% set title = site_name() | split(' ') %}
                <h3><em>{{ title[0] }} <br/>
                    {{ title[1] }}</em>
                </h3>

            {% endif %}
        </a><!-- .logo -->
        <hr/>
    </div>
    {% block content %}
    {% endblock %}
    <hr/>
    <div class="text-center">
        Himalayan Affairs &copy; 2017. All Rights Reserved
    </div>
</section>
</body>
</html>