{% extends ':layout/admin:admin.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}
    Post Categories
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Post Categories</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Post Categories</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" pull-right">
                                    <a href="{{ url('user-new-post-category') }}" class="btn btn-sm btn-flat btn-default">New Post Category</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% if(categories) %}
                            <table id="datatable" class="table table-responsive table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Parent Category</th>
                                    <th>Description</th>
                                    <th>Display Order</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td>{{ category.name }}</td>
                                        <td>
                                            {% if category.parent %}
                                                {{ category.parent.name }}
                                            {% endif %}
                                        </td>
                                        <td>{{ category.description }}</td>
                                        <td>{{ category.displayOrder }}</td>
                                        <td>
                                            {#{% if category.editable %}#}
                                            <div>
                                                <a class='btn btn-default btn-sm btn-flat'
                                                   href="{{ url('user-update-post-category', {'id': category.id}) }}">
                                                    <i class='fa fa-1x fa-edit'></i>
                                                </a>
                                                <button class="btn btn-danger btn-sm btn-flat"
                                                        data-toggle="modal" data-target='#delete-modal'
                                                        data-id="{{ category.id }}" data-title="Delete Post Category"
                                                        data-content='Are you sure you want to delete this post category?'
                                                        data-action="{{ url('user-delete-post-category', {'id': category.id}) }}">
                                                    <i class='fa fa-1x fa-trash'></i>
                                                </button>
                                            </div>
                                            {#{% endif %}#}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div><h2 class="text-center">No Categories</h2></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include ":layout/admin/partials:delete-modal.html.twig" %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var datatable = $("#datatable").dataTable({
            processing: true
        });

        $("#delete-modal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.data('title');
            var content = button.data('content');
            var action = button.data('action');
            var id = button.data('id');

            var modal = $(this);
            modal.find('#modal-title').text(title);
            modal.find('#modal-content').text(content);

            $(modal.find('#modal-delete-confirm')).data("id", id);
            $(modal.find('#modal-delete-confirm')).data("action", action);
        });

    </script>
{% endblock %}