.page-wrapper{
    top: 80px;
}

.page-wrapper .parallax-box {
    height: 400px;
}

.parallax-wrapper .page-header{
    margin-top: 200px;
}

.header-mid {
    padding: 20px 0;
}

.header-banner .ad728-wrapper {
    margin: 0;
}

.border-bottom {
    border-bottom: 1px solid #fff;
}

.border-right {
    border-right: 1px solid #fff;
}

.featured-big .featured-header h2{
    font-size: 3.5rem;
}

.featured-header h2 {
    font-size: 2rem;
}

@media(max-width: 768px){
    .border-bottom, .border-right {
        border-bottom: 1px solid #fff;
    }
}