{% extends ':layout/admin:admin.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% set sectionTitle = 'Members' %}

{% block title %}
    {{ sectionTitle }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ sectionTitle }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">{{ sectionTitle }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 pull-right">
                                <a href="{{ url('user-new-memeber') }}" class="btn btn-sm btn-flat btn-default">New Member</a>
                            </div>
                        </div>
                        <hr>
                        {% if(members) %}
                            <table id="datatable" class="table table-responsive table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Designation</th>
                                    <th>Bio</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for member in members %}
                                    <tr>
                                        <td>{{ member.fullName }}</td>
                                        <td>
                                            {% if member.image %}
                                                <img src="{{ asset(media_path ~ member.image.name) }}" alt="" style="max-width: 200px;">
                                            {% endif %}
                                        </td>

                                        <td>{{ member.designation }}</td>
                                        <td>{{ member.bio }}</td>
                                        <td>
                                            <div>
                                                <a class='btn btn-default btn-sm btn-flat'
                                                   href="{{ url('user-update-member', {'id': member.id}) }}">
                                                    <i class='fa fa-1x fa-edit'></i>
                                                </a>
                                                <button class="btn btn-danger btn-sm btn-flat"
                                                        data-toggle="modal" data-target='#delete-modal'
                                                        data-id="{{ member.id }}" data-title="Delete Member"
                                                        data-content='Are you sure you want to delete this member?'
                                                        data-action="{{ url('user-delete-member', {'id': member.id}) }}">
                                                    <i class='fa fa-1x fa-trash'></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div><h2 class="text-center">No Members</h2></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include ":layout/admin/partials:delete-modal.html.twig" %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var datatable = $("#datatable").dataTable({
            processing: true
        });

        $("#delete-modal").on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.data('title');
            var content = button.data('content');
            var action = button.data('action');
            var id = button.data('id');

            var modal = $(this);
            modal.find('#modal-title').text(title);
            modal.find('#modal-content').text(content);

            $(modal.find('#modal-delete-confirm')).data("id", id);
            $(modal.find('#modal-delete-confirm')).data("action", action);
        });

    </script>
{% endblock %}