{% extends ':layout/admin:admin.html.twig' %}

{% set sectionTitle = "Edit Member" %}

{% block title %}
    {{ sectionTitle }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ sectionTitle }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('user-dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ url('user-members') }}">Members</a></li>
            <li class="active">{{ sectionTitle }}</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ include(':user/member/partials:member-form.html.twig', [member]) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("assets/library/ckeditor/ckeditor.js") }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/js/admin.js') }}"></script>
    <script type="text/javascript" src="{{ asset('node_modules/jquery-validation/dist/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/js/validator/validation-rules.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/admin/js/validator/post-validator.js') }}"></script>
    <script type="text/javascript">
        fileinputConfig = {
            'showUpload': false,
            "maxFileCount": 1,
            "autoReplace": true,
            'allowedFileTypes': 'image',
            'allowedExtensions': ['jpg', 'png', 'gif', 'jpeg'],
            'initialPreviewAsData': true,
            'overwriteInitial': true
        };
        {% if(member.image.oldName.vars.value) %}

        fileinputConfig.initialPreview = '{{ asset(media_path ~ member.image.oldName.vars.value) }}';
        fileinputConfig.initialCaption = '{{ member.image.oldName.vars.value }}';
        fileinputConfig.deleteUrl = '/media/delete-file';
        fileinputConfig.initialPreviewShowDelete = true;
        fileinputConfig.initialPreviewConfig = [
            {key: 1, extra: {'name': fileinputConfig.initialCaption}}
        ];
        {% endif %}

        initBootstrapFileInput('.img-fileinput', fileinputConfig);

        $('.img-fileinput').on('filedeleted', function(event, key, jqXHR, data) {
            $('#member_form_image_oldName').val('');
            $('#member_form_image_id').val('');
        });
    </script>
{% endblock %}