<meta property="og:type" content="{{ meta['type'] }}" />
<meta property="og:title" content="{{ meta['title'] }}" />
<meta property="og:url" content="{{ meta['url'] }}" />
<meta property="og:image" content="{{ 'http://' ~ app.request.server.get('HTTP_HOST') ~ asset(media_path ~ meta['image']) }}" />
<meta property="og:description" content="{{ meta['description'] }}" />
<meta property="og:site_name" content="{{ meta['siteName'] }}">
<meta property="og:article:tag" content="{{ meta['tags'] }}">
<meta property="keywords" content="{{ meta['tags'] }}">
<meta property="description" content="{{ meta['description'] }}">