{% if ads is defined and ads|length > 0 %}
    {% for ad in ads %}
        <div class="ad728-wrapper">
            <a href="{{ ad.adUrl }}" target="_blank">
                <img src="{{ asset(media_path ~ ad.image.name) }}" alt=""/>
            </a>
        </div>
    {% endfor %}
{% endif %}