{% if ads is defined and ads|length > 0 %}
    {% for ad in ads %}
        <div class="widget adwidget">
            <a href="{{ ad.adUrl }}">
                <img src="{{ asset(media_path ~ ad.image.name) }}" alt=""/>
            </a>
        </div>
    {% endfor %}
{% endif %}