<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <title>{% block pageTitle %}{{ site_title('Home') }}{% endblock %}</title>
    {% block meta %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    {% endblock %}
    <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Favicon -->

    <!-- Google Fonts -->
    {{ site_googleanlaytic_script() | raw }}
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,400italic,500,700,700italic,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet" type="text/css">

    <!-- Icon Font -->
    <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ asset('assets/public/css/style.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/public/css/custom.css') }}">

    <link rel="icon" href="{{ asset(media_path ~ site_favicon()) }}" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="main" class="header-big">

    <header class="header-wrapper clearfix">
        <!-- header top //-->
        {% include ':layout/public/partials/header:header-top.html.twig' %}
        <!-- header top //-->

        <!-- header mid //-->
        {% include ':layout/public/partials/header:header-mid.html.twig' %}
        <!-- header-mid -->

        <!-- header with nav //-->
        {% include ':layout/public/partials/header:header-with-nav.html.twig' %}
        <!-- header with nav -->

    </header><!-- .header-wrapper -->

    <!-- Begin Main Wrapper -->
    <div class="container main-wrapper">

        <!-- End Main Banner -->
        <div class="mag-content clearfix">
            <div class="row">
                <div class="col-md-12">
                    {{ full_width_ad(constant('AppBundle\\Domain\\Entity\\Advertisement\\DefaultAdSection::TOP_CONTENT_AD')) }}
                </div>
            </div>
        </div>
        <!-- End Main Banner -->

        <!-- Main Content //-->
        <div class="main-content mag-content clearfix">

            {% block wrapper %}

            {% endblock %}

        </div>
        <!-- End Main Content -->

        <!-- End Main Banner -->
        <div class="mag-content clearfix">
            <div class="row">
                <div class="col-md-12">
                    {{ full_width_ad(constant('AppBundle\\Domain\\Entity\\Advertisement\\DefaultAdSection::BOTTOM_CONTENT_AD')) }}
                </div>
            </div>
        </div>
        <!-- End Main Banner -->

    </div>
    <!-- End Main Wrapper -->

    <!-- Footer -->
    {% include ':layout/public/partials:footer.html.twig' %}
    <!-- End Footer -->

</div><!-- End Main -->

<!-- Mobile Menu -->
{% include ':layout/public/partials/header:mobile-nav.html.twig' %}
<!-- / Mobile Menu -->
<div id="go-top-button" class="fa fa-angle-up" title="Scroll To Top"></div>

<div class="mobile-overlay" id="mobile-overlay"></div>

<!-- Jquery js -->
<script src="{{ asset('assets/public/js/jquery-1.11.2.min.js') }}"></script>
<!-- Modernizr -->
<script src="{{ asset('assets/public/js/modernizr.min.js') }}"></script>
<!-- Bootstrap js -->
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- Google map api -->
{#<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>#}
<!-- Theme js -->
<script src="{{ asset('assets/public/js/script.min.js') }}"></script>
<script>
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://himalayan-affairs.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5997dafb00293ba2"></script>
</body>
</html>