{% extends ':layout/public:base-layout.html.twig' %}

{% block wrapper %}
    <div class="main-content mag-content clearfix" data-stickyparent>

        <div class="row blog-content">
            <div class="col-md-8">
                {% block content %}

                {% endblock %}

            </div><!-- End Left big column -->

            <div class="col-md-4" data-stickycolumn>
                {% block sidebar %}
                    {% include ':layout/public/partials/widget:sidebar.html.twig' %}
                {% endblock %}

            </div><!-- End last column -->
        </div><!-- .main-body -->

    </div><!-- .main-content -->
{% endblock %}