{% extends ':layout/public:base-layout.html.twig' %}

{% block wrapper %}
    <div class="main-content mag-content clearfix">

        <div class="row blog-content" data-stickyparent>
            <div class="col-md-8" data-stickycolumn>

                {% block content %}
                {% endblock %}

            </div><!-- End Left big column -->

            <div class="col-md-4" data-stickycolumn>
                {% include ':layout/public/partials/widget:sidebar.html.twig' %}
            </div><!-- End last column -->
        </div><!-- .blog-content -->

    </div><!-- .main-content -->

{% endblock %}