{% extends ':layout/admin:plain.html.twig' %}

{% block site_title %}
    Reset Password
{% endblock %}

{% block content %}

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ include(':user/security/profile/partials:password-form.html.twig', [password]) }}
            </div>
        </div>
{% endblock %}