{% extends ":layout/admin:plain.html.twig" %}

{% block site_title %}
    Email Confirmed!
{% endblock %}

{% block content %}
    <div>
        <h4 class="text-center">An email has been sent to you!</h4>
        <p  class="login-box-msg">Please check in your <strong>SPAM</strong> folder, if not available in your <strong>INBOX</strong> to reset your password!</p>
    </div>
{% endblock %}