{% extends ':layout/admin:plain.html.twig' %}

{% block title %}
    Forget Password
{% endblock %}

{% block content %}
    <div class="login-box-msg">Enter your registered email!</div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {% if app.request.hasPreviousSession %}
                {% for message in app.session.flashBag.get('message') %}
                    <div class="alert alert-error alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span>
                        </button>
                        <div>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {{ form_start(resetPassword) }}
            {%- if not resetPassword.vars.valid -%}
                <div class="alert alert-error alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times-circle-o"></i></span>
                    </button>
                    <ul>
                        {%- for field in resetPassword.children -%}
                            {% if field.vars.errors is defined %}
                                {% for error in field.vars.errors %}
                                    <li>{{ error.message }}</li>
                                {% endfor %}
                            {% endif %}
                        {%- endfor -%}
                    </ul>
                </div>
            {%- endif -%}
            <div class="form-group has-feedback">
                {{ form_widget(resetPassword.email) }}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            {{ form_row(resetPassword.resetPassword) }}

            {{ form_end(resetPassword) }}
        </div>
    </div>
{% endblock %}