{% extends ':layout/admin:plain.html.twig' %}

{% block site_title %}
    Login
{% endblock %}

{% block content %}
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">
        <h3>Log in</h3></p>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('user-login') }}" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Username/Email" name="_username">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name="_password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
                <!-- /.col -->
                <!-- /.col -->
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <button type="submit" class="btn btn-sm btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            </div>
        </form>

        {#<div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
                Facebook</a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
                Google+</a>
        </div>#}
        <!-- /.social-auth-links -->
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ url('forget-password') }}">I forgot my password</a><br>
            </div>
        </div>

    </div>
    <!-- /.login-box-body -->
{% endblock %}