{% extends ':layout/admin:plain.html.twig' %}

{% block site_title %}
    Password Changed
{% endblock %}

{% block content %}
    <h3 class="text-center">Your password has been changed!</h3>
    <p class="login-box-msg">Please <a href="{{ url('user-login') }}"><strong>Login</strong></a>!</p>
{% endblock %}